
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}


header {
    padding: 20px;
    text-align: left;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.highlight {
    color: #f4a261;
    font-style: italic;
}


.hero {
    margin: 40px 0;
}

.hero h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}

.creative {
    color: #1d1dab;
}


.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px auto;
    max-width: 1000px;
}

.feature {
    width: 45%;
    text-align: left;
}

.feature img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.feature h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.feature p {
    font-size: 16px;
    color: #444;
}


.footer-text {
    color: #1d1dab;
    font-size: 16px;
    margin-top: 50px;
}
